body,
html {
  width: 98.8vw;
  height: 100%;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: content;
  text-align: center;
  max-height: 100%;
}

.container > * {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 25vh;
}

input {
  width: 25vw;
  text-align: center;
  font-size: 24px;
  height: 5vh;
}

button {
  width: 15vh;
  height: 5.5vh;
  background-color: rgb(52, 52, 158);
  color: white;
  font-size: 24px;
}

button:hover {
  background-color: rgba(2, 2, 97, 0.7);
  cursor: pointer;
}

.first-load {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vw;
}

.pair {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75vh;
}

.validate {

    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}

img {
    position: relative;
    margin-top: 12vh;
    margin-left: -9vw;
}

.userOutput {
    margin-top: 5vh;
    color: green;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: grey 2px 2px 2px 2px;
}